/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffd5d5;
  font-family: 'Lora', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 30px 40px;
  background-color: #fcc2c2;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.new-task-container {
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.new-task-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #d1d3d4;
  border-radius: 5px;
}

.new-task-container input:focus {
  outline: none;
  border-color: #41b883;
}

.new-task-button {
  padding: 12px;
  background-color: #41b883;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tasks-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.task-item i {
  background-color: #41b883;
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.task-item i:hover {
  cursor: pointer;
}

/* Utilities */
.error {
  border: 2px solid red !important;
}

.error::placeholder {
  color: red;
}

.completed {
  text-decoration: line-through;
}

.container {
  font-family: "Lora", serif;
}

.lora-uniquifier {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
  background-color: #67b1ff;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px; /* Reduz o padding */
  position: relative;
  width: 100%;
  bottom: 0;
  height: 60px; /* Altura reduzida */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    
  }

}
header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Transição entre temas */
body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #1a1a1a;
}

body.dark-mode header {
  background-color: #1a1a1a;
}

body.dark-mode .task-column {
  background-color: #444;
}

body.dark-mode .task-item {
  background-color: #555;
  border: 1px solid #666;
}

/* Login Flutuante */
.login-box {
  position:initial
  top: 20%;
  left: 0;
  width: 300px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.login-box h2 {
  margin-top: 0;
}

/* Seções */
section {
  margin: 20px 0;
}

.task-board {
  display:grid:
  justify-content: space-between;
}

.task-board {
  font-family: 'Poppins', sans-serif;
}

.task-column {
  margin-bottom: 40px; /* Espaço entre as colunas */
}

.task-column h3 {
  margin-bottom: 20px; /* Espaço abaixo do título */
}

.management-section {
  border-top: 2px solid #ccc; /* Linha de separação */
  padding-top: 20px; /* Espaço acima da seção */
}

.team-progress {
  margin-top: 10px;
}


.task-column {
  display:contents
  width: 30%;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}



.task-item {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.task-item:hover {
  background-color: #f1f1f1;
  border-color: #bbb;
}

button {
  padding: 10px 15px;
  margin: 10px 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  padding: 10px;
  margin: 10px 0;
  width: calc(100% - 22px);
}

/* Comentários e Notícias */
#comment-section,
#news-feed {
  margin-top: 20px;
}

#comment-list,
#news-list {
  list-style: none;
  padding: 0;
}

#comment-list li,
#news-list li {
  padding: 10px;
  margin: ;
}

#comment-list {
  list-style-type: none; /* Remove os marcadores da lista */
  padding: 0;
}

#comment-list li {
  margin-bottom: 10px; /* Espaçamento entre os comentários */
  font-size: 16px;
}

.container input, .container button {
  margin-bottom: 10px; /* Espaçamento entre os campos de entrada */
}

#comment-section {
  margin-top: 20px;
}


/* Estilização específica para os campos de entrada */
#name-input, #comment-input {
  background-color: #010201; /* Cor de fundo escura */
  border: none; /* Remover borda padrão */
  width: 301px; /* Largura dos campos */
  height: 56px; /* Altura dos campos */
  border-radius: 10px; /* Bordas arredondadas */
  color: white; /* Cor do texto */
  padding: 0 20px; /* Espaçamento interno ajustado */
  font-size: 18px; /* Tamanho da fonte */
  position: relative; /* Necessário para efeitos adicionais */
  z-index: 1; /* Garantir que o campo fique acima de outros elementos */
}

/* Estilo do placeholder */
#name-input::placeholder, #comment-input::placeholder {
  color: #c0b9c0; /* Cor do texto do placeholder */
}

/* Estilo quando o campo está em foco */
#name-input:focus, #comment-input:focus {
  outline: none; /* Remover borda de foco padrão */
}

/* Adicionar margem aos campos */
#poda {
  display: flex;
  flex-direction: column; /* Colocar os campos um abaixo do outro */
  align-items: center;
  justify-content: center;
  padding: 20px; /* Espaçamento ao redor dos campos */
}

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

/* From Uiverse.io by vinodjangid07 */ 
.form_main {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}

.heading {
  font-size: 2.5em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 15px 0 30px 0;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputIcon {
  position: absolute;
  left: 10px;
}

.inputField {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  border-radius: 30px;
  margin: 10px 0;
  color: black;
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

#button {
  position: relative;
  width: 100%;
  border: 2px solid #8000ff;
  background-color: #8000ff;
  height: 40px;
  color: white;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

#button::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.253);
  height: 100%;
  width: 150px;
  top: 0;
  left: -200px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  filter: blur(10px);
  transition-duration: .5s;
}

#button:hover::after {
  transform: translateX(600px);
  transition-duration: .5s;
}

.signupContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.signupContainer p {
  font-size: .9em;
  font-weight: 500;
  color: black;
}

.signupContainer a {
  font-size: .7em;
  font-weight: 500;
  background-color: #2e2e2e;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
}

/* Navbar Styling */
.navbar {
  position: relative;
  z-index: 1; /* Ensure the navbar stays on top */
}

.navbar-nav .nav-link {
  position: relative;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  transition: color 0.3s, text-shadow 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* Image Overlay Styling */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.image-slide {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.image-slide img {
  width: 100%;
  height: auto;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.image-slide img:hover {
  opacity: 0.7;
}

.image-slide img:nth-child(1) {
  animation: slide 30s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* From Uiverse.io by Pradeepsaranbishnoi */ 
.🤚 {
  --skin-color: #E4C560;
  --tap-speed: 0.6s;
  --tap-stagger: 0.1s;
  position: relative;
  width: 80px;
  height: 60px;
  margin-left: 80px;
}

.🤚:before {
  content: '';
  display: block;
  width: 180%;
  height: 75%;
  position: absolute;
  top: 70%;
  right: 20%;
  background-color: black;
  border-radius: 40px 10px;
  filter: blur(10px);
  opacity: 0.3;
}

.🌴 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--skin-color);
  border-radius: 10px 40px;
}

.👍 {
  position: absolute;
  width: 120%;
  height: 38px;
  background-color: var(--skin-color);
  bottom: -18%;
  right: 1%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-20deg);
  border-radius: 30px 20px 20px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.👍:after {
  width: 20%;
  height: 60%;
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -8%;
  left: 5px;
  border-radius: 60% 10% 10% 30%;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.👉 {
  position: absolute;
  width: 80%;
  height: 35px;
  background-color: var(--skin-color);
  bottom: 32%;
  right: 64%;
  transform-origin: 100% 20px;
  animation-duration: calc(var(--tap-speed) * 2);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: rotate(10deg);
}

.👉:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 30px;
  background-color: var(--skin-color);
  bottom: 8%;
  right: 65%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-60deg);
  border-radius: 20px;
}

.👉:nth-child(1) {
  animation-delay: 0;
  filter: brightness(70%);
  animation-name: tap-upper-1;
}

.👉:nth-child(2) {
  animation-delay: var(--tap-stagger);
  filter: brightness(80%);
  animation-name: tap-upper-2;
}

.👉:nth-child(3) {
  animation-delay: calc(var(--tap-stagger) * 2);
  filter: brightness(90%);
  animation-name: tap-upper-3;
}

.👉:nth-child(4) {
  animation-delay: calc(var(--tap-stagger) * 3);
  filter: brightness(100%);
  animation-name: tap-upper-4;
}

@keyframes tap-upper-1 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.4);
  }

  40% {
    transform: rotate(50deg) scale(0.4);
  }
}

@keyframes tap-upper-2 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.6);
  }

  40% {
    transform: rotate(50deg) scale(0.6);
  }
}

@keyframes tap-upper-3 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.8);
  }

  40% {
    transform: rotate(50deg) scale(0.8);
  }
}

@keyframes tap-upper-4 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(1);
  }

  40% {
    transform: rotate(50deg) scale(1);
  }
}

.chart-controls {
  margin-top: 20px;
  padding: 15px;
  background: #f4f6f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.chart-controls h4 {
  margin-bottom: 15px;
}

.chart-controls label {
  display: block;
  margin-bottom: 5px;
}

.chart-controls input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chart-controls button {
  padding: 10px 15px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.chart-controls button:hover {
  background: #45a049;
}


.dashboard {
  display: flexbox;
  size: 10px;
}

#chart1 {
  width: 200px;
  height: 200px;
}

.news-carousel {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.horizontal-list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  background-color: #e2e8f0;
  border-radius: 6px;
  position: relative;
}

.horizontal-list li:hover {
  background-color: #cbd5e0;
}

.news-actions {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.edit-btn,
.reaction-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
}

.reaction-btn:hover,
.edit-btn:hover {
  color: #0056b3;
}

.reaction-icon {
  margin-left: 5px;
}

.news-text {
  font-size: 1.1rem;
  color: #2d3748;
}

.input-group {
  max-width: 500px;
  margin-top: 15px;
}

.task-column {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.workflow-stage {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e6f7ff;
}
.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.draggable {
  background-color: #d9edf7;
  padding: 8px;
  margin-bottom: 10px;
  cursor: grab;
  border-radius: 5px;
}
.goal-list ul {
  list-style-type: none;
  padding: 0;
}
.goal-list li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
#progress-chart {
  margin-top: 20px;
}

#file-gallery {
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}
#file-list {
  list-style-type: none;
  padding: 0;
}
#file-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#file-list img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 5px;
}
.file-name {
  font-size: 14px;
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

/* From Uiverse.io by 0xnihilism */ 
/* Estilo geral dos cards */
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.card:hover {
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card .list {
  list-style: none;
  padding: 0;
}

.card .element {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.card .element svg {
  margin-right: 10px;
}

.card .element:hover {
  color: #007bff; /* Cor do ícone ao passar o mouse */
}

.card .delete {
  color: red;
}

/* Estilo geral das etapas do workflow */
.workflow-stage {
  background: #f4f6f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.workflow-stage h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: grab;
  transition: background 0.3s, box-shadow 0.3s;
}

.task-list li.dragging {
  opacity: 0.5;
  background: #e0e0e0;
}

.task-list li:hover {
  background: #f9f9f9;
}

#progress-chart {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.task-column {
  padding: 20px;
  margin: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.task-column h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}


@keyframes glitch {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}

.glitch {
  animation: glitch 0.3s infinite;
}

/* From Uiverse.io by Donewenfu */ 
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.instagram:checked + .radio-tile {
  border-color: #cc39a4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #cc39a4;
}

.instagram:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #cc39a4;
  border-color: #cc39a4;
}

.instagram:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.instagram:checked + .radio-tile .radio-label {
  color: #cc39a4;
}

.instagram:focus + .radio-tile {
  background-color: #cc39a4;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.instagram:checked + .radio-tile {
  background-color: #cc39a4;
  border-color: #fff;
}

.instagram:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

/*  Twitter */
.twitter:checked + .radio-tile {
  border-color: #03a9f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #03a9f4;
}

.twitter:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.twitter:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.twitter:checked + .radio-tile .radio-label {
  color: #03a9f4;
}

.twitter:focus + .radio-tile {
  background-color: #03a9f4;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.twitter:checked + .radio-tile {
  background-color: #03a9f4;
  border-color: #fff;
}

.twitter:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}
/* discord */
.discord:checked + .radio-tile {
  border-color: #8c9eff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #8c9eff;
}

.discord:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #8c9eff;
  border-color: #8c9eff;
}

.discord:checked + .radio-tile .radio-icon svg {
  fill: #fff;
}

.discord:checked + .radio-tile .radio-label {
  color: #8c9eff;
}

.discord:focus + .radio-tile {
  background-color: #8c9eff;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.discord:checked + .radio-tile {
  background-color: #8c9eff;
  border-color: #fff;
}

.discord:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.instagram:hover {
  border-color: #cc39a4;
}
.twitter:hover {
  border-color: #03a9f4;
}
.discord:hover {
  border-color: #8c9eff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
}
.instagram {
  fill: #cc39a4;
}
.twitter {
  fill: #03a9f4;
}
.discord {
  fill: #8c9eff;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.days-btn-container {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  height: 34px;
}

.day-btn {
  display: none; /* Hide the original checkbox */
}

.day-label {
  background-color: transparent;
  font-size: 11px;
  font-weight: 600;
  color: #008cff;
  cursor: pointer;
  border: 2px solid #008cff;
  border-radius: 20%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

/* Apply styles for the selected state */
.day-btn:checked + .day-label {
  background-color: #008cff;
  background-image: linear-gradient(147deg, #00ccff 0%, #004cff 74%);
  border: none;
  color: white;
}

#checklist {
  --background: #fff;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 100px;
  --height: 180px;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 85px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  justify-content: center;
}

#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#checklist label::before, #checklist label::after {
  content: "";
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
  margin-right: 20px;
}

#checklist input[type="checkbox"]::before, #checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
  }
}

.tooltip-container {
  height: 70px;
  width: 110px;
  border-radius: 5px;
  background-color: #fff;
  background-image: linear-gradient(
    to left bottom,
    #f2f5f8,
    #ecf1f2,
    #e7eceb,
    #e3e7e4,
    #e1e2de
  );
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
  position: relative;
  transition: transform 0.3s ease;
}

.tooltip-container::before {
  position: absolute;
  content: "";
  top: -50%;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  border-radius: 5px;
  background-color: fff;
  background-image: linear-gradient(
    to left bottom,
    #f2f5f8,
    #e4eaec,
    #d8dfde,
    #cdd3cf,
    #c5c7c1
  );
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(-150deg) translateY(-110%);
  transition: transform 0.3s ease;
}

.tooltip-container .text {
  color: rgb(32, 30, 30);
  font-weight: bold;
  font-size: 40px;
}

.tooltip {
  position: absolute;
  top: -20px;
  opacity: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, white 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, white 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, white 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, white 1px),
    linear-gradient(white 3px, #f2f2f2 3px, #f2f2f2 78px, white 78px),
    linear-gradient(-90deg, #aaa 1px, white 1px),
    linear-gradient(-90deg, white 3px, #f2f2f2 3px, #f2f2f2 78px, white 78px),
    linear-gradient(#aaa 1px, white 1px), #f2f2f2;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px,
    80px 80px, 80px 80px;
  padding: 5px 10px;
  border: 1px solid rgb(206, 204, 204);

  height: 70px;
  width: 110px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 10px salmon;
}
.tooltip-container:hover {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tooltip-container:hover::before {
  transform: rotateY(0);
  background-image: none;
  background-color: white;
}

.tooltip-container:hover .tooltip {
  top: -90px;
  opacity: 1;
  transition-duration: 0.3s;
}

.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.45;
  left: -10px;
  top: -100px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  right: -80px;
  top: -300px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: -120px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}

.card {
  width: 200px;
  /* background-color: rgba(36, 40, 50, 1);
background-image: linear-gradient(135deg, rgba(36, 40, 50, 1) 0%, rgba(36, 40, 50, 1) 40%, rgba(37, 28, 40, 1) 100%); */

  background-color: rgba(36, 40, 50, 1);
  background-image: linear-gradient(
    139deg,
    rgba(36, 40, 50, 1) 0%,
    rgba(36, 40, 50, 1) 0%,
    rgba(37, 28, 40, 1) 100%
  );

  border-radius: 10px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .separator {
  border-top: 1.5px solid #42434a;
}

.card .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 10px;
}

.card .list .element {
  display: flex;
  align-items: center;
  color: #7e8590;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
}

.card .list .element svg {
  width: 19px;
  height: 19px;
  transition: all 0.3s ease-out;
}

.card .list .element .label {
  font-weight: 600;
}

.card .list .element:hover {
  background-color: #5353ff;
  color: #ffffff;
  transform: translate(1px, -1px);
}
.card .list .delete:hover {
  background-color: #8e2a2a;
}

.card .list .element:active {
  transform: scale(0.99);
}

.card .list:not(:last-child) .element:hover svg {
  stroke: #ffffff;
}

.card .list:last-child svg {
  stroke: #bd89ff;
}
.card .list:last-child .element {
  color: #bd89ff;
}

.card .list:last-child .element:hover {
  background-color: rgba(56, 45, 71, 0.836);
}
